doctype html
html(lang='es')
	head
		title Certificados Rochester School
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="/public/css/app.css" rel="stylesheet")
		script(src="/socket.io/socket.io.js")
		script(src="/public/js/handlebars.js")
	body
		.col-md-8.remove-float.center-block.text-center.big-top-space
			h1 Certificados Estudiantiles
			a.right-space(href="/login") ºIniciar sesión (Login)
			a.right-space(href="/eliminar_usuario") ºEliminar Usuario
			a(href="/signup") ºRegistrarme
