doctype html
html(lang="es" xml:lang="es")
	head
		title Certificados Rochester School
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css")
		link(rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css")
		link(href="/public/css/app.css" rel="stylesheet")
		script(src="/socket.io/socket.io.js")
		script(src="/public/js/handlebars.js")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous")
		script(src='http://code.jquery.com/jquery-3.2.1.js' integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=' crossorigin='anonymous')
		script(src='https://code.jquery.com/jquery-3.2.1.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
	body
		nav(class="navbar fixed-top navbar-expand-md bg-primary navbar-dark shadowed")
			.container
				button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation")
					span(class="navbar-toggler-icon")
				.collapse.navbar-collapse.text-center.justify-content-center#navbar3SupportedContent
					ul(class="navbar-nav")
						li(class="nav-item")
							a(class="nav-link" href="/app") Inicio
						li
							a(class="nav-link" href="/app/imagenes") Mis creaciones
						li
							a(data-toggle="modal" data-target="#new_student" class="ml-3 btn navbar-btn btn-primary" href="") Crear Estudiante
		div(class="modal" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="new_student")
			div(class="modal-dialog" role="document")
				.modal-content
					.modal-header
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body
						.card.text-white.p-5.bg-primary
							.card-body
								h1(class="mb-4") Crear Estudiante
								form(action="/app/imagenes" method="POST" enctype="multipart/form-data")
									.form-group
										label(for="name") Nombre
										input(type="text" name="name" placeholder="Nombre" id="name" class="form-control" onKeyUp="this.value=this.value.toUpperCase();")
									.form-group
										label(for="lastname") Apellido
										input(type="text" name="lastname" placeholder="Apellido" id="lastname" class="form-control" onKeyUp="this.value=this.value.toUpperCase();")
									.form-group
										label(for="id_student") Id
										input(type="number" name="id_student" placeholder="Id" id="id_student" class="form-control" onkeypress="return valida(event)")
									button(type="submit" class="btn btn-secondary") Guardar
					.modal-footer
						button(type="button" class="btn btn-secondary" data-dismiss="modal") Close

		block contenido