doctype html
html(lang='es')
	head
		title Certificados Rochester School
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="/public/css/app.css" rel="stylesheet")
		script(src="/socket.io/socket.io.js")
		script(src="/public/js/handlebars.js")
	body
		.col-md-8.remove-float.center-block.big-top-space
			h1 Regístrate
			form(action="/users" method="POST")
				.container-fluid
					.form-group
						label(for="email") Email
						input.form-control(type="text" name="email" placeholder="Email" id="email")
					.form-group
						label(for="password") Contraseña
						input.form-control(type="password" name="password" placeholder="Contraseña" id="password")
					.form-group
						label(for="password") Confirma tu contraseña
						input.form-control(type="password" name="password_confirmation" placeholder="Confirmar Contraseña" id="password")
					.form-group
						label(for="password") Username
						input.form-control(type="text" name="username" placeholder="Nombre de usuario" id="username")
					.row.top-space
						.col-xs-12.col-sm-6
							input.btn.btn-primary(type="submit" value="Enviar datos")
						.col-xs-12.col-sm-6.text-right
							a(href="/login") Ya tengo una cuenta