extends ../../layout.jade
block contenido
	div(class="container")
		h1 Mis Creaciones
		for nota in nota
			.white.border.tr.large-padding
				.row
					.col-md-10
						h3=nota.year
					.col-md-2
						a(href="/app/certificate/#{nota._id}/edit",class="right-space") Editar
						form(action="/app/certificate/#{nota._id}?_method=DELETE" class="link" method="POST")
							input(type="submit", value="Eliminar")