extends ../layout.jade
block contenido
	div
		.img-container
			form(class="m-0" action="")
				input(id="search" class="form-control mr-2 tr" type="text" placeholder="Buscar")
			#container
				for imagen in imagenes
					a(href="/app/imagenes/#{imagen.id}")
						container
							p= imagen.id_student
							h4= imagen.name+" "+imagen.lastname
	script(id="image-template" type="text/x-handlebars-template")
		.img-container
			a(href="/app/imagenes/{{id}}")
				h2 {{name}}
	script(src="/public/js/client.js")
	script(src="/public/js/search.js")